{$DOMAIN:localhost} {
	encode gzip
	request_body {
		max_size 120MB
	}

	reverse_proxy /api/* api:3001 {
		flush_interval -1
		transport http {
			dial_timeout 30s
			read_timeout 10m
			write_timeout 10m
		}
	}

	reverse_proxy /media/* api:3001 {
		flush_interval -1
		transport http {
			dial_timeout 30s
			read_timeout 10m
			write_timeout 10m
		}
	}

	reverse_proxy web:3000
}
